[submodule "third_party/misc/SPIRV-Headers"]
	path = third_party/misc/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "third_party/misc/effcee"]
	path = third_party/misc/effcee
	url = https://github.com/google/effcee.git
[submodule "third_party/misc/googletest"]
	path = third_party/misc/googletest
	url = https://github.com/google/googletest
[submodule "third_party/misc/re2"]
	path = third_party/misc/re2
	url = https://github.com/google/re2.git
[submodule "third_party/shaderc"]
	path = third_party/shaderc
	url = https://github.com/google/shaderc.git
